*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@media (min-width: 38.5em) {
  .col-1 {
    width: 8.33333%; }
  .col-2 {
    width: 16.66667%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.33333%; }
  .col-5 {
    width: 41.66667%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.33333%; }
  .col-8 {
    width: 66.66667%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.33333%; }
  .col-11 {
    width: 91.66667%; }
  .col-12 {
    width: 100%; } }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Raleway', sans-serif; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 120rem; }

.heading-primary {
  font-size: 3.85rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  line-height: 1.3; }

.btn-main {
  display: inline-block;
  color: #fff;
  background-color: #06d79d;
  padding: 1.2rem 3rem;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 5px; }

.header {
  background: linear-gradient(to right, #100a6e, #827eca);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
  padding: 4rem 4.5rem;
  height: 95vh;
  color: #fff; }
  .header__nav {
    display: flex;
    align-items: center; }
    .header__nav--logo {
      margin-right: auto; }
    .header__nav--btn {
      font-size: 1.8rem;
      color: inherit;
      text-decoration: none;
      padding: 1rem; }
  .header__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 60rem; }
    .header__info--btn {
      font-size: 2.5rem;
      padding: 2rem 8rem;
      margin-top: 3rem; }
  .header__banner {
    background-image: url("../images/illustration-hero.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem; }
