@import "base";

.heading-primary {
  font-size: 3.6rem;
  text-transform: capitalize;
  line-height: 1.5;
}

.heading-secondary {
  font-size: 2.9rem;
  text-transform: capitalize;
  line-height: 1.5;
  color: #07043b;
}

.heading-tertiary {
  font-size: 1.9rem;
  color: #07043b;
}

.btn-main {
  display: inline-block;
  color: #fff;
  background-color: #06d79d;
  padding: 1.1rem 2.8rem;
  font-size: 1.3rem;
  text-decoration: none;
  border-radius: 3px;
  letter-spacing: .5px;
  font-weight: 600;
  border: none;
}

.header {
  background: linear-gradient(to right, #100a6e, #827eca);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  padding: 4rem 4.5rem;
  height: 95vh;
  color: #fff;

  @media only screen and(max-width: $bp-small) {
    background: linear-gradient(to bottom, #100a6e, #827eca);
    padding: 2.5rem;
    height: auto;
  }

  &__nav {
    display: flex;
    align-items: center;

    &--logo {
      margin-right: auto;
      height: 4.2rem;
    }

    &--btn {
      font-size: 1.4rem;
      color: inherit;
      text-decoration: none;
      padding: 1rem;
      margin-right: 2rem;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    margin: 10rem 0 15rem;
    height: 50vh;

    @media only screen and(max-width: $bp-small) {
      flex-direction: column;
      height: auto;
    }
  }

  &__info {
    flex: 0 0 58%;
    padding-right: 3rem;

    @media only screen and(max-width: $bp-small) {
      flex: 0 0 40%;
      order: 2;
      margin-top: 3rem;
      text-align: center;
      padding-right: 0;
    }

    &--btn {
      font-size: 2.1rem;
      padding: 2rem 8.2rem;
      margin-top: 3rem;
    }
  }

  &__banner {
    flex: 1;
    background-image: url("../images/illustration-hero.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40rem;

    @media only screen and(max-width: $bp-small) {
      width: 100%;
      height: 30rem;
    }

    @media only screen and(max-width: $bp-smallest) {
      height: 25rem;
    }
  }
}


.products {
  margin: 50px 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media only screen and(max-width: $bp-small) {
    padding: 0 2.5rem;
  }

  &__banner {
    background-image: url("../images/illustration-features.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex: 0 0 40%;
    height: 30rem;
  }

  &__box {
    margin: 9rem 0;
    flex: 1;

    display: flex;
    flex-wrap: wrap;
  }

  &__product {
    padding: 3rem 5rem 2rem;
    text-align: left;

    &--text {
      font-size: 1.5rem;
      padding-top: 1rem;
      line-height: 1.5;
      color: #8d8d8d;
    }
  }

  &__text {
    width: 60%;
    margin: 2rem auto;
    font-size: 1.5rem;
    color: #100a6e;
    font-weight: 600;
  }

  &__form {

    input {
      width: 30%;
      border-radius: 3px;
      border: 1px solid #dbdbdb;
      padding: 1rem 2rem;
      box-shadow: 0 0 5px rgba(#ccc, 0.2);
      margin-right: 2rem;

      &:focus {
        outline: none;
      }
    }

    ::-webkit-input-placeholder {
      color: #ccc;
    }

    ::-moz-placeholder {
      color: #ccc;
    }

    ::-ms-input-placeholder {
      color: #ccc;
    }

    ::-moz-placeholder {
      color: #ccc;
    }

    &--btn {
      padding: 1.1rem 6.5rem;
    }
  }
}


.footer {
  padding: 5rem 0;
  background-color: #07043b;

  &__contact {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--logo {
      margin-bottom: 2rem;
    }

    a {
      color: #fff;
      padding: 1rem 0;
      text-decoration: none;
      font-size: 1.5rem;

      span {
        margin-left: .5rem;
      }
    }
  }
}